
.portfolio-img {
    background-image: url("images/pictures/portfolio-pic-3.svg"); 
}

.portfolio-content h4 {
    color: #FFFFFF;
}

.services-img {
    background-image: url("images/pictures/services-pic-3.svg"); 
}

.services-content h4 {
    color: #CFB3D9;
}

.about-us-img {
    background-image: url("images/pictures/about-us-pic-3.svg"); 
}

.send button {
    background-color:#F8BD45;
}