

.header {
    display: flex;
    position: fixed;
    top:0;
    background-color: #413B43;
    width: 100%;
    height: 142px;
    z-index: 1;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
    /* text-align: center;
    padding-top: 21px; */
} 

.header-logo img {
    width: 134px;
}

.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    font-size: 24px;
    color: #FFFFFF;
}

.about-img {
    width: 100%;
    height: 43vw;
    background-image: url("images/figmajpgfiles/home-page-main-picture.svg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 142px;
}

.about-text {
    padding-top: 187px;
    padding-left: 230px;
}

.about-text h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    margin-bottom: 21px;
}

.about-text div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 35vw;
    margin-bottom: 36px;
}

.about-text button {
    width: 323px;
    height: 60px;
    border: 2px solid #8DD301;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    /* display: block; */
}

.portfolio-intro {
    padding-top: 113px;
    padding-bottom: 46px;
    padding-left: 230px;
    /* margin-left: 200px; */
    background-position-x: 200px;
    background-position-y: 100px;
    background-repeat: no-repeat;  
    background-size: 248px 464px;
    background-image: linear-gradient(white, orange)
}

.portfolio-intro h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
}

.portfolio-intro div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    width: 75vw;
}

.portfolio {
    display: flex;
    box-sizing: border-box;
    /* width: 100%; */
}
.portfolio-img {
    box-sizing: border-box;
}

.portfolio-content {
    width: 50%;
    padding-left: 94px;
    padding-top: 84px;
    background-color: #413B43;
    box-sizing: border-box;
}

.portfolio-content h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
    margin-bottom: 21px;
    color: #F4AB82;
}

.portfolio-content div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 36px;
    padding-right: 230px;
}

.portfolio-content button {
    width: 320px;
    height: 60px;
    background: #0055FF;
    border: none;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF; 
}

.testimonials-intro {
    /* padding-left: 30px;
    padding-top: 40px;
    padding-bottom: 45px;
    margin-left:200px;
    margin-top: 73px;
} */
    padding-top: 113px;
    padding-bottom: 46px;
    padding-left: 230px;
    /* margin-left: 200px; */
    background-position-x: 200px;
    background-position-y: 100px;
    background-repeat: no-repeat;  
    background-size: 248px 464px;
    background-image: linear-gradient(white, orange)
}

.testimonials-intro h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
}

.testimonials-intro div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    width: 75vw;
}

.testimonials {
    display: flex;
    margin-left: 215px;
    margin-right: 215px;
}

.person {
    display: flex;
    flex-direction: column;
    border: 2px solid #B0D136;
    Width: 467px;
    margin-left: 15px;
    margin-right: 15px;
}

.person-img {
    height: 50%;
    text-align: center;
    padding-top: 33px;
    padding-bottom: 26px;
}

.person-content {
    text-align: center;
    font-family: 'Roboto', sans-serif;
    color: #000000;
    box-sizing: border-box;
    /* padding-left: 30px;
    padding-right: 30px; */
}

.person-content h5 {
    font-size: 32px;
    font-weight: 500;
    margin-bottom: 30px;
}

.person-content div {
    font-size: 18px;
    line-height: 36px;
    padding-left: 30px;
    padding-right: 30px;
}

.services-intro {
    padding-top: 113px;
    padding-bottom: 46px;
    padding-left: 230px;
    /* margin-left: 200px; */
    background-position-x: 200px;
    background-position-y: 100px;
    background-repeat: no-repeat;  
    background-size: 248px 464px;
    background-image: linear-gradient(white, orange)
}
.services-intro h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
}

.services-intro div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    width: 75vw;
}

