

.header {
    display: flex;
    position: fixed;
    top:0;
    background-color: #413B43;
    width: 100%;
    height: 144px;
    z-index: 1;
}

.header-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 27%;
} 

.header-logo img {
    width: 134px;
}

.header-text {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex: auto;
    font-size: 24px;
    color: #FFFFFF;
}

.about-img {
    width: 100%;
    height: 50vw;
    background-image: url("images/figmajpgfiles/home-page-main-picture.jpg"); 
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    margin-top: 144px;
}

.about-text {
    padding-top: 185px;
    padding-left: 230px;
}

.about-text h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
    margin-bottom: 21px;
}

.about-text div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    width: 35vw;
    margin-bottom: 36px;
}

.about-text button {
    width: 323px;
    height: 60px;
    border: 2px solid #8DD301;
    box-sizing: border-box;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    display: block;
}

.portfolio-intro {
    width: 100%;
    padding-left: 230px;
    padding-top: 47px;
    padding-bottom: 45px;
    box-sizing: border-box;
    margin-top: 72px;
}

.portfolio-intro h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
}

.portfolio-intro div {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    line-height: 36px;
    width: 75vw;
}

.portfolio {
    display: flex;
    /* width: 100%; */
}
.portfolio-img {
    width: 50%;
}

.portfolio-content {
    width: 50%;
    padding-left: 94px;
    padding-top: 84px;
    background-color: #413B43;
}

.portfolio-content h4 {
    font-family: 'Secular One', sans-serif;
    font-size: 60px;
    line-height: 87px;
    margin-bottom: 21px;
    color: #F4AB82;
}

.portfolio-content div {
    font-family: 'Roboto', sans-serif;
    font-style: normal;
    font-weight: 300;
    font-size: 24px;
    color: #FFFFFF;
    margin-bottom: 36px;
    padding-right: 230px;
}

.portfolio-content button {
    width: 320px;
    height: 60px;
    background: #0055FF;
    border-color: #0055FF;
    border-radius: 10px;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 24px;
    color: #FFFFFF;
}